PhuBinh/FormBinhPhu/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57820/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/xphu" />
  <xs:element name="DsAcount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DsAcountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DsAcountResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DangNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/xphu" minOccurs="0" name="userinfo" nillable="true" type="q1:UserDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DangNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DangNhapResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Account">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/xphu" minOccurs="0" name="userinfo" nillable="true" type="q2:UserDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Them">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/xphu" minOccurs="0" name="userinfo" nillable="true" type="q3:UserDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sua">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/xphu" minOccurs="0" name="userinfo" nillable="true" type="q4:UserDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Xoa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/xphu" minOccurs="0" name="userinfo" nillable="true" type="q5:UserDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemContents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/xphu" minOccurs="0" name="option" nillable="true" type="q6:Option" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemContentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemContentsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/xphu" minOccurs="0" name="xoa" nillable="true" type="q7:Option" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaOptionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/xphu" minOccurs="0" name="vote" nillable="true" type="q8:Vote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadContentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DsOption">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DsOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DsOptionResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DsCode1">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DsCode1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DsCode1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DsCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idac" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DsCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DsCodeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaVote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/xphu" minOccurs="0" name="sua" nillable="true" type="q9:Vote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaVoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaVoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemVote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/xphu" minOccurs="0" name="them" nillable="true" type="q10:Vote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemVoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemVoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraIdAcc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/xphu" minOccurs="0" name="Kt" nillable="true" type="q11:Vote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraIdAccResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KiemTraIdAccResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DsAns">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DsAnsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DsAnsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaAns">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/xphu" minOccurs="0" name="sua" nillable="true" type="q12:Option" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaAnsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaAnsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DsQuestion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DsQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DsQuestionResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraContents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/xphu" minOccurs="0" name="KtContents" nillable="true" type="q13:Option" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraContentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KiemTraContentsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DemAns">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/xphu" minOccurs="0" name="Dem" nillable="true" type="q14:Vote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DemAnsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DemAnsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DistinctOpt">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DistinctOptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DistinctOptResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DemK">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/xphu" minOccurs="0" name="Dem" nillable="true" type="q15:Vote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DemKResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DemKResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DemCb">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/xphu" minOccurs="0" name="Dem" nillable="true" type="q16:Vote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DemCbResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DemCbResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuotVote">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LuotVoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LuotVoteResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KtSetFlag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/xphu" minOccurs="0" name="Kt" nillable="true" type="q17:Vote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KtSetFlagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KtSetFlagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KtActivate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/xphu" minOccurs="0" name="KtAc" nillable="true" type="q18:UserDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KtActivateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KtActivateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaActi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/xphu" minOccurs="0" name="suaacti" nillable="true" type="q19:UserDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaActiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaActiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RsActi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/xphu" minOccurs="0" name="rs" nillable="true" type="q20:UserDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RsActiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RsActiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KtDlVote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/xphu" minOccurs="0" name="Kt" nillable="true" type="q21:Vote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KtDlVoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KtDlVoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>